#titulo {
    color: tomato;
}

/*
Todas las etiquetas p que contengan las clases texto o especial

El orden importa, porque aplica el ultimo si tiene mas de una clase
*/
p.texto {
    color: slateblue;
}

p.especial {
    color: seagreen;
}

/*
Para todos los p en un div
*/
div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px;
    /* color: black; */
}

/* .color {
    color: #fff000;
} 
    
.color {
    color: rgb(255, 255, 0);
}
*/

.color {
    /* border: 5px black dashed; */

    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
}

#fondo {
    background-color: rgba(255, 0, 0);
    /* opacity: 0.3; 
    background-image: url(img/exampleImg.jpg);*/
    height: 100px 100px;
    /*background-repeat: repeat-y;
    background-position: center left; */
    background: #f00 url(img/exampleImg.jpg) repeat-y center bottom /100px 100px;
    /* background-size: auto; */
}

.margen {
    background-color: chocolate;
    margin: 15px;
    /*top right bottom left*/
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 200px;
    width: 200px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}